/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2021 Matthias Joachim Geisler, openwebcraft <matthiasjg@openwebcraft.com>
 */

tag-button grid {
    border-radius: 6px;
    background: @accent_color_500;
    border-color: @accent_color_900;
}

tag-button button {
    border-radius: 6px;
    background: @accent_color_500;
    /*color: @accent_color_900;*/
    font-size: 1em;
    font-weight: 600;
}
